body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square-dark {
  border: 1px solid #4d4d4d;
  width: 62px;
  height: 62px;
  margin: 4px 4px;
  background-image: linear-gradient(to right, #0d0d0d , #202020);
}

.square-light {
  border: 1px solid #5a8abe;
  width: 62px;
  height: 62px;
  margin: 4px 4px;
  background-image: linear-gradient(to right, #346396 , #5a8abe);
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

